<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Student_sys2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertAminServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.InsertAminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryAdminServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.QueryAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.ChangePassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertCourseServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.InsertCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertTeacherServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.InsertTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryTeacherServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.QueryTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryStudentServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.QueryStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChooseCourseServlet</servlet-name>
    <servlet-class>pers.qlc.Student_sys.Servlet.ChooseCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAdminServlet</servlet-name>
    <url-pattern>/QueryAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassServlet</servlet-name>
    <url-pattern>/ChangePassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertAminServlet</servlet-name>
    <url-pattern>/InsertAminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertCourseServlet</servlet-name>
    <url-pattern>/InsertCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertTeacherServlet</servlet-name>
    <url-pattern>/InsertTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/InsertStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryTeacherServlet</servlet-name>
    <url-pattern>/QueryTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryStudentServlet</servlet-name>
    <url-pattern>/QueryStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChooseCourseServlet</servlet-name>
    <url-pattern>/ChooseCourseServlet</url-pattern>
  </servlet-mapping>
</web-app>